.meal {
  width: 100vw;
  height: 500px;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  background-image: url(../assets/header.png);
}

.site_heading {
  font-size: 3rem;
  font-family: "Merienda";
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site_subheading {
  font-size: 1rem;
  color: black;
  letter-spacing: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log {
  padding: 10rem;
  border-radius: 10px;
}

input {
  display: block;
  margin: 1rem auto;
  padding: 0.4rem;
  border: none;
  box-shadow: 0 0 5px 5px green;
  outline: none;
  font-size: 1.2rem;
  border-bottom: 4px solid;
}
button {
  font-size: 1rem;
  padding-inline: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  height: 2rem;
  display: block;
  margin: auto;
  background-color: yellowgreen;
  transition: all 1s;
}
button:hover {
  transform: scale(1.5);
}
